body {
	margin: 0px;
	padding: 0px;
	outline: none;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 	16px;
	font-weight: 400;
	line-height: 1.375;
	color: #fff;

	background-color: #849d8f;
	/*background-image: url("../img/iceCream1.png");*/
	background-position: top center;
	background-repeat: no-repeat;

	/*background-image: url("../preview/gllacy-index-1200.jpg");*/
	/*background-image: url("../preview/gllacy-catalog-1200.jpg");*/
	height: 2500px;
}

a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	outline: none;
}
a:hover,
a:focus {
	color: #ffbc9e;
	border-color: rgba(255,188,158,0.2);
}

input,
textarea {
	font: inherit;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	padding: 9px 15px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	outline: none;
}
input:hover,
textarea:hover {
	border: 2px solid #9a9a9a;
	padding: 8px 14px;
}
input:focus,
textarea:focus {
	border: 2px solid #2e88e4;
	padding: 8px 14px;
}
input::placeholder,
textarea::placeholder {
	font-weight: 400;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	margin: -1px;
	overflow: hidden;
}

.red-btn {
	display: inline-block;
	outline: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 20px;
	color: white;
	border: 0;
	border-radius: 22px;
	background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.red-btn:hover,
.red-btn:focus {
	color: white;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
} 
.red-btn:active {
	color: white;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
	box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}
.red-btn_size_l {
	font-size: 32px;
	line-height: 44px;
	border-radius: 32px;
	padding: 10px 30px;
}

.site-navigation__list {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	list-style: none;
	padding: 0;
}
.site-navigation__list .active {
	background-color: #d07058;
}
.site-navigation__list > li > a {
	border: 0px solid rgba(255,255,255,0.2);
	border-bottom-width: 1px;
	padding: 0px 16px;
}
.site-navigation__list > li > a:hover,
.site-navigation__list > li > a:focus {
	color: #333;
	background-color: #fff;
	border-radius: 16px;
	padding: 7px 16px;
}
.site-navigation__list > li > a:active {
	box-shadow: inset 0 2px 0 0px #696969;
}

.sub-menu {
	list-style: none;
	display: table;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	padding: 0;
}
.sub-menu a {
	padding: 0 10px;
	color: #333;
	display: block;
	border-radius: 0px;
}
.sub-menu a:hover,
.sub-menu a:focus {
	background-color: #fbded7;
	border-radius: 0px;
}
.sub-menu a:active {
	background-color: #f6b5a5;
}
.sub-menu hr {
	margin: 0;
	padding: 0;
}

.user-navigation {
	list-style: none;
}
.user-navigation__link {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 8px 16px;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
	color: black;
	background-color: rgba(255, 255, 255, 1);
}
.user-navigation__link_icon_cart {
	color: black;
	background-color: rgba(255, 255, 255, 1);
}

.user-login {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	background-color: #f8f7f4;
	color: #323232;
}
.user-login a {
	text-decoration: underline;
	color: #323232;
}

.main-header .shedule {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.main-header .phone {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}

.slider-content {
	list-style: none;
}
.slider-content h3 {
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}

.slider-control {
	list-style: none;
}

.special-offers {
	font-weight: 700;
}
.special-offers ul {
	list-style: none;
}
.special-offers h3 {
	font-size: 35px;
	line-height: 41px;
}
.special-offers p {
	font-size: 18px;
	line-height: 22px;
}
.special-offers__jam {
	background-color: #9a1e39;
	background-image: url("../img/raspberryBackground.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}
.special-offers__chocolate {
	background-color: #462b1f;
	background-image: url("../img/chocolateBackground.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}

.ice-cream-list ul {
	list-style: none;
}
.ice-cream-list li:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.ice-cream-list img {
	border-radius: 50%;
}
.ice-cream-list h3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.ice-cream-list p {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}
.ice-cream-list span {
	font-size: 30px;
}

.hits li {
	list-style: none;
}

.features {
	background-color: #eee2c7;
	background-image: url("../img/waferBackground.jpg");
	border-radius: 15px;
	color: #323232;
}
.features b {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}
.features-list {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.new-in-the-blog {
	color: #323232;
	background-color: white;
	background-image: url("../img/strawberryBackground.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}
.new-in-the-blog h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.new-in-the-blog a {
	color: #323232;
	text-decoration: underline;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.mailing {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #5a5a5a;
	background-color: #f8f7f4;
}

.contacts {
	color: #323232;
	/*background-color: white;*/
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.contacts ul {
	list-style: none;
}
.contacts h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.contacts b {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}

.main-footer {
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.main-footer ul {
	list-style: none;
}
.main-footer a {
	font-size: 13px;
}
.main-footer strong {
	font-weight: 700;
}
.main-footer__logo-htmlacademy {
	border: none;
}

.feedback {
	background-color: #f8f7f4;
	color: #323232;
}
.feedback .title {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.breadcrums {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.breadcrums ul {
	list-style: none;
}
.breadcrums a {

}

.filter {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}
.filter fieldset {
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
	height: 36px;
	border-radius: 18px;
}
.filter legend {
	font-size: 14px;
	line-height: 16px;
}
.filter select {
	height: 36px;
	padding: 0 10px;
	border: none;
	background-color: transparent;
	color: white;
}
.filter select:hover,
.filter select:focus {
	outline: none;
	background-color: white;
	border-radius: 18px;
	color: #323232;
}
.filter option {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.filter button {
	color: white;
	height: 36px;
	border: 2px solid white;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 30px;
}
.filter button:hover,
.filter button:focus {
	outline: none;
	color: #323232;
	background-color: rgba(255, 255, 255, 1);
}
.filter button:active {
	color: #323232;
	padding: 0 32px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: inset 0 2px 0 #696969;
}

.cart {
	background-color: #f8f7f4;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
	border-radius: 5px;
}
.cart button {
	border: none;
	background: none;
}
.cart__sum {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}

.pagination ul {
	list-style: none;
}
.pagination a {
	border: none;
}
.pagination__arrow {
}
.pagination__arrow_disabled {
}
.pagination__page {
	display: inline-block;
	width: 25px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	color: white;
	border-radius: 50%;
	background-color: transparent;
}
.pagination__page:hover,
.pagination__page:focus {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
.pagination__page_active,
.pagination__page_active:hover,
.pagination__page_active:focus {
	background-color: white;
	color: #323232;
}


/**/
.content {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}
.main-header {
	display: flex;
	flex-direction: column;
}
.main-header__navigations {
	height: 64px;
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}
.main-header__info {
	height: 44px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main-header__info p {
	margin: 0;
}

.site-navigation {
	flex-grow: 1;
	display: flex;	
}
.site-navigation > a {
	border: 0;
}
.site-navigation__list {
	display: flex;
}

.user-navigation {
	flex-basis: 300px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}

.slider {
	position: relative;
	margin-top: 275px;
}
.slider-content {
	padding: 0;
}
.slider__item {
	height: 214px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.slider__item h3 {
	margin: 0px;
	text-align: center;
}
.slider-content li {

}
.slider-control {
	position: absolute;
	bottom: 0px;
}

.special-offers {
	margin-top: 40px;
}
.special-offers ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.special-offers li {
	flex-basis: 560px;
	height: 230px;
}

.hits {
	
}
.ice-cream-list {
	margin-top: 40px;
}
.ice-cream-list ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.ice-cream-list__item {
	flex-basis: 267px;
	position: relative;
}
.ice-cream-list__item p {
	position: absolute;
	top: 163px;
}
.ice-cream-list__item h3 {
	text-align: center;
	margin: 0;
	margin-top: 6px;
}


.features {
	margin-top: 40px;
	height: 300px;
}

.various {
	margin-top: 44px;
	display: flex;
	justify-content: space-between;
}
.various section{
	flex-basis: 560px;
	height: 220px;
	border-radius: 15px;
}

.contacts {
	height: 430px;
	position: relative;
	margin-top: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-image: url("../img/map.png");
}
.contacts img {
	position: absolute;
}
.contacts__inner {
	width: 302px;
	background-color: white;
	border-radius: 15px;
	right: 0px;
	top: 10px;
}

.main-footer {
	border-top: 1px solid #a9bbb1;
	height: 108px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.breadcrums {
	
}
.breadcrums ul {
	padding: 0;
	margin: 0;
	display: flex;
	position: absolute;
	margin-top: -20px;
}

.catalog-title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin: 0;
}

.filter {
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin-top: 30px;
}
.filter form {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	align-items: flex-end;
	height: 140px;
}

.pagination {
	margin: 40px 0;
	text-align: right;
}
.pagination ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}