body {
	margin: 0px;
	padding: 0px;
	outline: none;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 	16px;
	font-weight: 400;
	line-height: 1.375;
	color: #fff;

	background-color: #849d8f;
	/*background-image: url("../img/iceCream1.png");*/
	background-position: top center;
	background-repeat: no-repeat;

	/*background-image: url("../preview/gllacy-index-1200.jpg");*/
	/*background-image: url("../preview/gllacy-catalog-1200.jpg");*/
}

a {
	text-decoration: none;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	outline: none;
}
a:hover,
a:focus {
	color: #ffbc9e;
	border-color: rgba(255,188,158,0.2);
}

input,
textarea {
	font: inherit;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	padding: 9px 15px;
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	outline: none;
}
input:hover,
textarea:hover {
	border: 2px solid #9a9a9a;
	padding: 8px 14px;
}
input:focus,
textarea:focus {
	border: 2px solid #2e88e4;
	padding: 8px 14px;
}
input::placeholder,
textarea::placeholder {
	font-weight: 400;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	margin: -1px;
	overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/iceCream1.png");
  background-repeat: no-repeat;
  background-position: top center;  

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/iceCream2.png");
}

.site-wrapper::after {
  background-image: url("../img/iceCream3.png");
}

.red-btn {
	display: inline-block;
	outline: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 10px 20px;
	color: white;
	border: 0;
	border-radius: 22px;
	background-color: #e74a35;
    background-image: linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}
.red-btn:hover,
.red-btn:focus {
	color: white;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
} 
.red-btn:active {
	color: white;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to top, #e74a35, #f26843);
	box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}
.red-btn_size_l {
	font-size: 32px;
	line-height: 44px;
	border-radius: 32px;
	padding: 10px 40px;
}

.site-navigation {
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.site-navigation > a {
	border: 0;
	font-size: 0;
}
.site-navigation-list {
	display: flex;
}
.site-navigation-list {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 8px;
	margin-top: -4px;
}
.site-navigation-list__item {
	position: relative;
}
.site-navigation-list__item:hover .sub-menu,
.site-navigation-list__item:focus .sub-menu {
	display: table;
}
.site-navigation-list__item > a {
	margin: 0 14px;
}
.site-navigation-list__item a.active {
	background-color: #d07058;
}
.site-navigation-list__item > a:hover,
.site-navigation-list__item > a:focus {
	color: #333;
	background-color: #fff;
	border-radius: 16px;
	margin: 0;
	padding: 7px 14px;
}
.site-navigation-list__item > a:active {
	box-shadow: inset 0 2px 0 0px #696969;
}

.sub-menu {
	position: absolute;
	top: 30px;
	list-style: none;
	display: none;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
	padding: 0;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.sub-menu a {
	padding: 0 20px;
	color: #333;
	display: block;
	white-space: nowrap;
}
.sub-menu a:hover,
.sub-menu a:focus {
	background-color: #fbded7;
}
.sub-menu a:active {
	background-color: #f6b5a5;
}
.sub-menu hr {
	margin: 0;
	padding: 0;
}

.user-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}
.user-navigation li {
	position: relative;
}
.user-navigation li:hover form {
	/*display: block;*/
}
.user-navigation__link {
/*	display: inline-block;
	min-width: 32px;
	height: 32px;*/
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 8px 16px;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
	color: black;
	background-color: rgba(255, 255, 255, 1);
}
/*.user-navigation__link:hover::after,
.user-navigation__link:focus::after{
	position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    content: '';
    width: 100%;
    height: 30px;
}*/
.user-navigation__link_icon_search + form {
	position: absolute;
	display: none;
    width: 340px;
    min-height: 84px;
    left: -309px;
    top: 37px;
    background-color: #f8f7f4;
    border-radius: 5px;
}
/*.user-navigation__link_icon_search:hover + form {
	display: block;
}*/
.user-navigation__link_icon_cart {
	color: black;
	background-color: rgba(255, 255, 255, 1);
}

.user-login {
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	background-color: #f8f7f4;
	color: #323232;
}
.user-login a {
	text-decoration: underline;
	color: #323232;
}

.main-header .shedule {
	font-size: 14px;
	font-weight: 700;
	line-height: 16px;
}
.main-header .phone {
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
}


.slider {
	position: relative;
	margin-top: 275px;
}
.slider-content {
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slider__item {
	height: 214px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.slider__item h3 {
	margin: 0px;
	text-align: center;
}
.slider-content h3 {
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
}
.slider-control {
	position: absolute;
	display: flex;
	bottom: 23px;
	left: 0px;
	z-index: 20;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}
.slider-control label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;

	vertical-align: top;

	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.slide {
	display: none;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/iceCream1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/iceCream2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/iceCream3.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
	display: flex;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}



.special-offers {
	margin-top: 40px;
	font-weight: 700;
}
.special-offers ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.special-offers li {
	flex-basis: 520px;
	height: 186px;
	padding: 18px;
	padding-bottom: 26px;
	padding-right: 22px;
	display: flex;
	flex-direction: column;
}
.special-offers h3 {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
}
.special-offers p {
	font-size: 18px;
	line-height: 22px;
	margin: 14px 0;
}
.special-offers a {
	margin-top: auto;
	margin-left: auto;
}
.special-offers__jam {
	background-color: #9a1e39;
	background-image: url("../img/raspberryBackground.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}
.special-offers__chocolate {
	background-color: #462b1f;
	background-image: url("../img/chocolateBackground.jpg");
	background-repeat: no-repeat;
	border-radius: 15px;
}



.ice-cream-list {
	margin-top: 40px;
}
.ice-cream-list ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}
.ice-cream-list__item {
	flex-basis: 267px;
	position: relative;
}
.ice-cream-list__item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.ice-cream-list__item_hit::before {
	content: "";
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: white;
	background-image: url("../img/hit.svg");
	background-position: center;
	background-repeat: no-repeat;
}
.ice-cream-list__item img {
	border-radius: 50%;
}
.ice-cream-list__item p {
	position: absolute;
	top: 163px;
	
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}
.ice-cream-list__item h3 {
	text-align: center;
	margin: 0;
	margin-top: 6px;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.ice-cream-list__item span {
	font-size: 30px;
}



.features {
	margin-top: 38px;
	/*height: 260px;*/
	padding: 20px;
	padding-bottom: 24px;
	background-color: #eee2c7;
	background-image: url("../img/waferBackground.jpg");
	border-radius: 15px;
	color: #323232;
}
.features p {
	margin: 4px 0;
}
.features b {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}
.features-list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	display: flex;
	flex-wrap: wrap;
}
.features-list li {
	margin-top: 20px;
	flex-basis: 450px;
	flex-grow: 1;
	padding-left: 55px;
	position: relative;
}
.features-list li:nth-child(2n+1) {
	margin-right: 16px;
}
.features-list li:nth-child(2n) {
	margin-left: 16px;
}
.features-list li::before {
	content: "";
	display: block;
	position: absolute;
	left: -3px;
	top: -14px;
	width: 50px;
	height: 50px;
	border-radius: 50%;

	background-position: center;
	background-repeat: no-repeat;
}

.features-list__ice-cream::before {
	background-image: url("../img/iceCream.svg");
}
.features-list__cow::before {
	background-image: url("../img/cow.svg");
}
.features-list__leaf::before {
	background-image: url("../img/leaf.svg");
}
.features-list__thermometer::before {
	background-image: url("../img/thermometer.svg");
}

.various {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.various section{
	flex-basis: 560px;
	height: 220px;
	box-sizing: border-box;
	border-radius: 15px;
}
.new-in-the-blog {
	padding: 20px;
	padding-right: 240px;
	box-sizing: border-box;
	color: #323232;
	background-color: white;
	background-image: url("../img/strawberryBackground.jpg");
	background-repeat: no-repeat;
}
.new-in-the-blog h2 {
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin: 2px 0 5px;

}
.new-in-the-blog a {
	color: #323232;
	text-decoration: underline;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

.mailing {
	display: flex;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	color: #5a5a5a;
	background-color: #f8f7f4;
	background-image: url("../img/mailingBorder.png");
	padding: 5px;
}
.mailing__inner {
	background-color: #f8f7f4;
	border-radius: 15px;
	padding: 30px 20px 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mailing__inner p {
	margin: 0;
}
.mailing__inner form {
	display: flex;
}
.mailing__form {
	display: flex;
}
.mailing__form p {
	flex-grow: 1;
	margin-right: 5px;
}
.mailing__form input {
	box-sizing: border-box;
	width: 100%;
}


.contacts {
	height: 430px;
	position: relative;
	margin-top: 40px;
	display: flex;
/*	justify-content: flex-end;*/
	align-items: center;
	background-image: url("../img/map.png");
	background-position: center;
	background-repeat: no-repeat;
	/*background-size: cover; */
	color: #323232;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.contacts .content {
	/*background-image: url("../img/map.png");*/
	display: flex;
	justify-content: flex-end;
}
.contacts img {
	position: absolute;
}
.contacts__inner {
	display: flex;
	flex-direction: column;
	padding: 10px 25px 30px;
	box-sizing: border-box;
	width: 302px;
	height: 305px;
	background-color: white;
	border-radius: 15px;
	right: 0px;
	top: 10px;
}
.contacts__inner ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contacts__inner li {
	margin: 15px 0;
}
.contacts__inner h3 {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 5px 0;
}
.contacts__inner b {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.contacts__inner a {
	margin-top: auto;
	align-self: center;
}



.main-footer {
	color: white;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.social-buttons {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;

	list-style: none;
}
.social-buttons li {
	margin-right: 17px;
}
.social-buttons a {
	display: block;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
	opacity: 0.8;
	box-shadow: 0 0 0 3px rgba(178, 178, 178, 0.5);
}
.social-buttons a:hover,
.social-buttons a:focus {
	opacity: 1;
}
.social-buttons a:active {
	opacity: 0.9;
}
.social-buttons__twitter {
	background-image: url("../img/twitter.svg");
}
.social-buttons__inst {
	background-image: url("../img/'=].svg");
}
.social-buttons__fb {
	background-image: url("../img/fb.svg");
}
.social-buttons__vk {
	background-image: url("../img/vk.svg");
}


.footer-nav {

}
.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	flex-direction: column;
	height: 50px;
}
.footer-nav li {
	margin-top: 5px;
	/*flex-basis: */
}
.footer-nav__heart {
	position: relative;
}
.footer-nav__heart::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	left: -20px;
	top: 1px;
	background-image: url("../img/heart.svg"); 
	background-position: center;
	background-repeat: no-repeat;
}

.made-by {
	margin-top: -12px;
}
.made-by p {
	margin: 0;
}

.main-footer ul {
	list-style: none;
}
.main-footer a {
	font-size: 13px;
}
.main-footer strong {
	font-weight: 700;
}
.main-footer__logo-htmlacademy {
	border: none;
}

.feedback {
	background-color: #f8f7f4;
	color: #323232;
}
.feedback .title {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.breadcrums {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.breadcrums ul {
	list-style: none;
}
.breadcrums a {

}

.filter {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}
.filter fieldset {
	border: none;
	background-color: rgba(255, 255, 255, 0.2);
	height: 36px;
	border-radius: 18px;
}
.filter legend {
	font-size: 14px;
	line-height: 16px;
}
.filter select {
	height: 36px;
	padding: 0 10px;
	border: none;
	background-color: transparent;
	color: white;
}
.filter select:hover,
.filter select:focus {
	outline: none;
	background-color: white;
	border-radius: 18px;
	color: #323232;
}
.filter option {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
.filter button {
	color: white;
	height: 36px;
	border: 2px solid white;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 30px;
}
.filter button:hover,
.filter button:focus {
	outline: none;
	color: #323232;
	background-color: rgba(255, 255, 255, 1);
}
.filter button:active {
	color: #323232;
	padding: 0 32px;
	border: none;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: inset 0 2px 0 #696969;
}

.cart {
	background-color: #f8f7f4;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	color: #323232;
	border-radius: 5px;
}
.cart button {
	border: none;
	background: none;
}
.cart__sum {
	font-size: 15px;
	font-weight: 700;
	line-height: 18px;
}

.pagination ul {
	list-style: none;
}
.pagination a {
	border: none;
}
.pagination__arrow {
}
.pagination__arrow_disabled {
}
.pagination__page {
	display: inline-block;
	width: 25px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	color: white;
	border-radius: 50%;
	background-color: transparent;
}
.pagination__page:hover,
.pagination__page:focus {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
.pagination__page_active,
.pagination__page_active:hover,
.pagination__page_active:focus {
	background-color: white;
	color: #323232;
}


/**/
.content {
	width: 1200px;
	margin: 0 auto;
	padding: 0 27px;
	box-sizing: border-box;
}
.main-header {
	display: flex;
	flex-direction: column;
}
.main-header__navigations {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-header__info {
	height: 44px;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.main-header__info p {
	margin: 0;
}



.user-navigation {
	flex-basis: 300px;
	padding: 0;
	display: flex;
	justify-content: flex-end;
}














.main-footer {
	border-top: 1px solid #a9bbb1;
	height: 108px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.breadcrums {
	
}
.breadcrums ul {
	padding: 0;
	margin: 0;
	display: flex;
	margin-top: -20px;
}

.catalog-title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	margin: 0;
}

.filter {
	/*background-color: rgba(255, 255, 255, 0.2);*/
	margin-top: 30px;
}
.filter form {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	align-items: flex-end;
	height: 140px;
}

.pagination {
	margin: 40px 0;
	text-align: right;
}
.pagination ul {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}